$default-font: "Source Sans Pro", sans-serif;

$primary-color: #000;
$gray-icon: #BDBDBD;
$red: #D90709;
$black: #393333;
$gray-bg: #E8E8E8;
$grayDark-bg: #DCDCDC;
$basket-line: #EDEDED;
$green: #0BC15C;
$progress: #ffc000;

$secondary-color: #23D240;
$secondary-hover: #D8A14D;
$secondary-label: #C79A5C;
$secondary-icon: #E6B776;
$secondary-shadow: #b3a48f;
$gray: #EDEBE9;
$gray-lighten1: #ECECEC;
$gray-lighten2: #F9F8F7;
$gray-lighten3: #DFDBD2;
$gray-lighten4: #F5F4F2;
$gray-lighten5: #FBFAFC;
$gray-lighten6: #DFE1E9;
$gray-lighten7: #D7D9E1;
$gray-lighten8: #F2F3F7;
$gray-lighten9: #F8F8F8;
$gray-body: #FAFAFA;
$slider-control: #f7f7f9;
$primary-shadow: #201B17;
$secondary-score: #EDB103;
$gray-medium: #18162E;
$blue: #058DF7;
$shadow-dark: #271F33;
$icon-filter: #382059;
$shadow-active: #9F50F0;



// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 20px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;

$mobile-xs: 320px;
$mobile-s: 375px;
$mobile-m: 425px;
$mobile-l: 480px;
$mobile: 540px;
$mobile-landscape: 600px;
$tablet: 767px;
$tablet-container: 900px;
$tablet-landscape: 992px;
$laptop-container: 1160px;
$laptop: 1199px;
$laptop-m: 1320px;
$laptop-l: 1440px;

